<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Our Mission</h2>
                <hr class="light">
                <p class="text-faded">This is where we talk about building a tribe of food self-sufficiency by innovating flexible, low-cost, low-maintenance food growth systems. We should also mention all of our solutons are custom designed with your goals in mind.</p>
                <a href="#" class="btn btn-default btn-xl">Our Systems. Your Goals.</a>
            </div>
        </div>
    </div>
</section>

